* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: radial-gradient(circle at center center, rgba(71,71,71, 0.4),rgb(8, 8, 8));
}

.clock {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 350px;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.02);
    border-left: 1px solid rgba(255, 255, 255, 0.02);
    box-shadow: 5px 5px 30px #1D2424;
    display: flex;
    text-align: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.inside {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 250px;
    border-top: 1px solid rgba(255, 255, 255, 0.02);
    border-left: 1px solid rgba(255, 255, 255, 0.02);
    box-shadow: 5px 5px 30px #1D2424;
    display: flex;
}

.content {
    margin-top: 40px;
    width: auto;
    height: auto;
    text-align: center;
}

.days {
    color: rgb(14, 14, 14);
}

.days span {
    margin-left: 21px;
    font-size: 1.3rem;
}

.text {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 100px;
    font-size: 2.5rem;
}

.date {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 100px;
    font-size: 5rem;
}

#time {
    font-size: 2rem;
}

#date {
    margin-top: 110px;
    margin-left: -150px;
}

#day {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

#month {
    position: absolute;
    margin-top: 5px;
    margin-left: 45px;
}

#year {
    position: absolute;
    margin-top: 5px;
    margin-left: 140px;
}

#hours,#min,#sec {
    font-size: 1.5em;
}